@import './src/assets/styles/functions';
@import './src/assets/styles/variables';

.btn {
  border:      0;
  font-family: Poppins;
  font-size:   rem-calc(25);
  font-weight: bold;

  &__regular {
    background:      transparent;
    background-size: contain;
    color:           $sehwa-text-primary;
    padding:         26px;
    transition:      background 2s ease-in-out;

    &:hover, &:active {
      background:      url('../../assets/images/button-circle.svg') no-repeat center;
      background-size: 100% 100%;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
