@import './src/assets/styles/functions';
@import './src/assets/styles/variables';

.btn {
  border:      0;
  font-family: Poppins;
  font-size:   rem-calc(25);
  font-weight: bold;

  &__regular {
    color:   $sehwa-text-primary;
    padding: 26px;
  }

  &:hover {
    cursor: pointer;
  }
}
