@import './src/assets/styles/functions';
@import './src/assets/styles/variables';

.btn {
  border:      0;
  font-family: Poppins;
  font-size:   rem-calc(25);
  font-weight: bold;
  position:    relative;

  .circle {
    height:   100%;left: 0;
    opacity:  0;
    position: absolute;
    top:      0;
    width:    100%;

    &--active {
      opacity: 1;
    }
  }

  &__regular {
    background:      transparent;
    background-size: contain;
    color:           $sehwa-text-primary;
    padding:         26px;
    transition:      background 2s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    .circle {
      opacity: 1;
    }
  }
}
