@import './src/assets/styles/functions';
@import './src/assets/styles/variables';

.page {
  padding: 78px 0;

  &__branding {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;

    .tagline {
      font-family: Poppins;
      font-size:   rem-calc(25);
      margin:      0 auto;
      max-width:   1088px;
      text-align:  center;
    }

    .view-btn {
      margin: 50px 0;
    }

    .gallery {
      background:    $sehwa-text-primary;
      border-radius: 30px;
      box-shadow:    $gallery-shadow;
      height:        678px;
      margin:        0 auto;
      width:         1062px;
    }

    .sections {
      display:               grid;
      grid-column-gap:       36px;
      grid-row-gap:          36px;
      grid-template-columns: repeat(auto-fill, 45%);
      justify-content:       space-between;
      margin:                206px auto 40px;
      max-width:             1210px;

      .section-card {
        text-align: left;

        .card-title {
          font-family: Bauhaus;
          font-size:   rem-calc(50);
        }

        .card-title,
        .card-description {
          color: $sehwa-text-primary;
        }

        .card-description {
          font-family: Poppins;
          font-size:   rem-calc(25);
        }
      }
    }
  }
}
