@import '../../assets/styles/functions';
@import '../../assets/styles/variables';

.section {
  &__one {
    align-items:     center;
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    min-height:      100vh;
    padding:         110px 30px 100px;
    width:           100vw;

    .intro-text {
      max-width: 1088px;
      position:  relative;

      .content {
        font-size: rem-calc(45);
      }

      .lets-talk {
        border:     0;
        margin-top: 50px;
        position:   absolute;
        right:      0;
      }
    }
  }

  &__two {

  }
}
