@import './src/assets/styles/functions';
@import './src/assets/styles/variables';

#header {
  align-items:     center;
  display:         flex;
  height:          60px;
  justify-content: space-between;
  left:            0;
  padding:         80px 70px;
  position:        fixed;
  top:             0;
  width:           100%;
  z-index:         99;

  .logo {
    a {
      color:           $sehwa-text-primary;
      text-decoration: none;

      h1 {
        font-size:   rem-calc(24);
        font-weight: 500;
      }
    }
  }

  .nav {
    list-style: none;

    .header-link {
      color:           $sehwa-text-primary;
      font-size:       rem-calc(24);
      font-weight:     500;
      margin:          0 10px;
      text-decoration: none;

      &:last-of-type {
        margin-right: 0;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
