@import './src/assets/styles/functions';
@import './src/assets/styles/variables';

.gallery-container {
  align-items: center;
  display:     flex;
  position:    relative;

  .arrow {
    position: absolute;

    &__left {
      left: -90px;
    }

    &__right {
      right: -90px;
    }

    &:hover {
      cursor:    pointer;
      transform: scale(1.5);
    }
  }

  .image-container {
    background:    $sehwa-text-primary;
    border-radius: 30px;
    box-shadow:    $gallery-shadow;
    height:        678px;
    margin:        0 auto;
    width:         1062px;
  }
}
